* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#text1 {
    position: relative;
    left: 80px;
    top: 25px;
}

#text2 {
    position: relative;
    left: 80px;
    top: 90px;
}

input[type=number] {
    position: relative;
    width: 80px; 
    height: 50px;
    size: 5px;
    margin: 0px 8px 8px 8px;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

#percentage_final_1 {
    position: relative;
    width: 80px; 
    height: 50px;
    size: 6px;
    border-radius: 10px;
    border-style: none;
    top: 25px;
    right: -291px;
}

#percentage_final_2{
    position: relative;
    width: 80px; 
    height: 50px;
    size: 6px;
    border-radius: 10px;
    border-style: none;
    top: 90px;
    right: -291px;
}

#principal3 {
    position: relative;
    top: -55px;
    border-radius: 10px;
    max-width: 700px;
    height: 350px;
    margin: 100px auto;
    font-size: 30px;
    background-color: rgba(202, 199, 199, 0.795);
    box-shadow: 2px 2px 8px 2px #aaa;
}

#button_1 {
    position: relative;
    background-color:cornflowerblue;
    color: white;
    width: 80px; 
    height: 50px;
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    font-weight: 500;
    left: 45px;
}

#button_2 {
    position: relative;
    background-color:cornflowerblue;
    color: white;
    width: 80px; 
    height: 50px;
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    font-weight: 500;
    left: 45px;
}