html {
    scroll-behavior: smooth;
}

.background {
    position:static;
    background-color: #119fdb;
    padding: 0px 100px -100px 100px; /* top right booton left */
    text-align: center;
    border-style: solid;
    margin-bottom: 100px;
    height: 130px;
}

#title1 {
    font-family: 'Patua One', cursive;
    font-size: 50px;
    position: relative;
    text-align: center;
    height: 50px;
}

#principal0 {
    position: relative;
    top: -55px;
    border-radius: 10px;
    max-width: 500px;
    margin: 100px auto;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgba(202, 199, 199, 0.795);
    box-shadow: 2px 2px 8px 2px #aaa;
}

#input0 {
    position: relative;
    width: 100px; 
    left: 200px;
    top: 30px;
}

#input1 {
    position: relative;
    width: 100px; 
    left: 200px;
    top: 30px;
}

#input2 {
    position: relative;
    width: 100px; 
    left: 200px;
    top: 30px;
}

#submit0 {
    position: relative;
    top: -100px;
}

#output_result1 {
    position: relative;
    top: -150px;
    text-align: center;
}

#output_result2 {
    position: relative;
    top: -150px;
    text-align: center;
}

#complex_number{
    position: relative;
    top: -150px;
    text-align: center;
}

#text_equation {
    position: relative;
    text-align: center;
}

#quadratic_formula {
    font-family: 'Patua One', cursive;
    font-size: 22px;
    position: absolute;
    top: 70px;
    left: 365px;
    margin-bottom: -20px;
    text-decoration: underline;
}

#pythagorean_theorem {
    font-family: 'Patua One', cursive;
    font-size: 22px;
    position: absolute;
    top: 70px;
    left: 597.5px;
    margin-bottom: -10px;
    text-decoration: underline;
}

#percentage {
    font-family: 'Patua One', cursive;
    font-size: 22px;
    position: absolute;
    top: 70px;
    right: 370px;
    margin-bottom: 0px;
    text-decoration: underline;
}

#logarithm {
    position: absolute;
    top: 70px;
    right: 320px;
    margin-bottom: 0px;
    text-decoration: underline;
}